span{
    float: left;
}

.ImagemSelec{
    background-color: black;
    margin: auto;	    
    padding: 20px;	    
    border: 1px solid white;	    
    width: 80%;
    color: white;	 

}

#subCom{
    width: 775px;
    float: left;
}