button{

    border-radius: 5px;
}

.logo{
    position: absolute;
    left: 0%;
    width: 115px;
    height: 115px;
}

.nomeApp{
    position: absolute;
    left: 8%;
    top: 2%;
}

.Pesquisa{
   
    position: absolute;
    top: 5%;
    left: 38%;

}

.caixaTextoPro{    
    height: 20px;
    width: 300px;
    border-radius: 5px;
}

.entrar{
    border-radius: 5px;
}



#Login{
    position: absolute;
    right: 0%;
    top: 0%;
    
}

.LogOut{
    position: absolute;
    right: 0%;
    top: 0%;
}

